<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042635100741-nvd02mlulvlcg6cnf5jfj7rf58i1h92p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042635100741-nvd02mlulvlcg6cnf5jfj7rf58i1h92p</string>
	<key>API_KEY</key>
	<string>AIzaSyAGeur89WwYL5Wt4OoGu-Ztyq6gBTEhNO4</string>
	<key>GCM_SENDER_ID</key>
	<string>1042635100741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mmayer.PhotoEditor</string>
	<key>PROJECT_ID</key>
	<string>photoeditor-55094</string>
	<key>STORAGE_BUCKET</key>
	<string>photoeditor-55094.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042635100741:ios:84ff46c7e12776aa03492c</string>
</dict>
</plist>